@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.logo {
  font-family: "Eagle Lake", serif;
}
.first-light {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #413dfa;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.9;
}

.sec-light {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #413dfa;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.9;
}
